- run:
          name: Deploy to staging
          command: |
            lftp -u "$FTP_USER","$FTP_PASS" "$FTP_HOST" -e "
              set ftp:ssl-protect-data true
              set ssl:verify-certificate no
              cd /home/ctwebdevelopment/staging.ctwebdevelopment.com
              pwd
              ls -la
              !echo 'test file from circleci' > /tmp/testfile.txt
              put /tmp/testfile.txt
              ls -la
              quit
            "