version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Install lftp
          command: sudo apt-get update && sudo apt-get install -y lftp
      - run:
          name: Deploy to staging
          command: |
            lftp -u "$FTP_USER","$FTP_PASS" "$FTP_HOST" -e "
              set ftp:ssl-protect-data true
              set ssl:verify-certificate no
              mirror -R --verbose --exclude .git/ --exclude .circleci/ ./site staging.ctwebdevelopment.com
              quit
            "

workflows:
  deploy-workflow:
    jobs:
      - deploy:
          filters:
            branches:
              only: main